.Burger {
    width: 20%;
    margin: auto;
    height: 250px; /*when I put percentage, burger dissaepares*/
    /*overflow: scroll;*/
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}


.testClass {
    display: flex;
    flex-direction: row;
    text-align: center;
}

@media(min-width:500 px) and (max-height: 400px) {
    .Burger {
        width: 350px;
        height: 250px;
    }
}

@media(min-width:500 px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 300px;
    }
}

@media(min-width:1000 px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 500px;
    }
}
